*{
  font-family: serif;
}

.panel{
  background-color: #b0b35f;
  margin-bottom: 0px;
}

h1{
  color: #ffffff;
  text-align: center;
}

h2{
  font-size: 170%;
}

.row{
  margin-bottom: 10px;
}

lrg{
  font-size: 150%;
}

.gray{
  color: #999999;
}

.jumbotron{
  padding: 0px;
  margin: 0px;
  background-image: url("../images/foliagesmall.jpg");
}

.navbar{
  margin: 0px;
}

.table{
  margin-bottom: 0px;
}

.terminaltable{
  margin-bottom: 20px;
}

.table-striped>tbody>tr:nth-child(even) {
   background-color: #f2f2ed;
 }

 tr{
   padding: 0px;
   margin: 0px;
 }


 .importantLink{
   font-size: 200%;
 }

 .importantLink2{
   font-size:150%;
 }

 .jumbotron p{
   font-size: 130%;
 }

 .jumbotron p.large{
   line-height: 2em;
 }

 .table.sideBar{
   padding-top: 20px;
   font-family: serif;
 }

 thead{
   background-color: #f0eadd;
 }

 .jumbotron .h1{
   color: #fffffc;
 }

.container{
  background-color: #fffffc;
}

.blogpost{
  border-width: 2px;
  border-style: solid;
  border-color: black;
  margin: 20px;
  padding: 5px;
  background-color: #edf5b8;
}
