*{
  font-family:"Book Antiqua", "Palatino Linotype", "Palatino LT STD", Georgia, serif;
  margin: 0px;
}

.container {
    background-color: #edf5b8;
    padding: 30px;
}

.panel{
  background-color: #ffffed;
  margin: 0px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 0px;
}

p.centered{
  text-align: center;
}

h1{
  color: #ffffff;
  text-align: center;
}


h2{
  font-size: 170%;
}

.row{
  margin-bottom: 20px;
}

lrg{
  font-size: 150%;
}

.gray{
  color: #999999;
}

.jumbotron{
  padding: 20px;
  margin: 0px;
  background-image: url("../images/foliagesmall.jpg");
}

.navbar{
  margin: 0px;
}


li{
  font-size: 120%;
}

 .importantLink{
   font-size: 200%;
 }

 .importantLink2{
   font-size:150%;
 }

 .jumbotron p{
   font-size: 130%;
 }

 .jumbotron p.large{
   line-height: 2em;
 }

 .jumbotron.h1{
   color: #fffffc;
 }

.blogpost{
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 15px;
  background-color: #ffffed;
}

.inpostborder{
  border-width: 1px;
  border-style: solid;
  border-color: gray;
}

.col-md-7{
  text-align: center;
}

.col-md-5{
  margin-left: 0px;
  padding-left: 40px;
}

/*.sideBar.container{
  background-color: #edf5b8;
  margin-right: 12px;
  padding-left: 20px;
  padding-right: 10px;
}*/

.timeStamp{
  color: gray;
  font-size: 20%;
}

/*div.photobox{
  align: center;
  margin-right: 0px;
  background-color: black;
  width: 100%;
  padding: 1

}*/


.col-md-3.photo{
  background-color: #f5f5f5;
  padding-top: 20px;
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 5px;
  margin-top: 20px;
  margin-left: 0px;
  box-shadow: 10px 10px 5px #888888;
}

.col-md-3.sideBar{
  background-color: #f5f5f5;
  padding: 0px;
  border-radius: 25px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 5px;
  box-shadow: 10px 10px 5px #888888;
  text-align: center;
}


.col-md-6{
  padding: 30px;
}

/*.col-md-3.sideBar
  background-color: #f5f5f5;
  margin-left: 14px;
  text-align: center;
  padding-top: 20px;
  border-radius: 25px;
  padding-left: 0px;
  padding-right: 10px;
  margin-top: 20px;
}*/

img{
  padding: 20px;

}

.modal{
  font-size: 150%;
}

h1.cursive{
  font-family: "Lucida Calligraphy", "Lucida Handwriting", "Apple Chancery", cursive;
  text-align: left;
  padding: 10px;
  font-size: 400%;
}


.nav-pills{
  text-align: center;
}
