*{
  font-family:"Book Antiqua", "Palatino Linotype", "Palatino LT STD", Georgia, serif;
  margin: 0px;
}

.container {
    background-color: #edf5b8;
    padding: 0px;
}

.panel{
  background-color: #ffffed;
  margin: 0px;
  padding-left: 2px;
  padding-right: 2px;
}

p.centered{
  text-align: center;
}

h1{
  color: #ffffff;
  text-align: center;
}


h2{
  font-size: 170%;
}

.row{
  margin-bottom: 20px;
}

lrg{
  font-size: 150%;
}

.gray{
  color: #999999;
}

.jumbotron{
  padding: 20px;
  margin: 0px;
  background-image: url("../images/foliagesmall.jpg");
}

.navbar{
  margin: 0px;
}


li{
  font-size: 120%;
}

 .importantLink{
   font-size: 200%;
 }

 .importantLink2{
   font-size:150%;
 }

 .jumbotron p{
   font-size: 130%;
 }

 .jumbotron p.large{
   line-height: 2em;
 }

 .jumbotron.h1{
   color: #fffffc;
 }

.blogpost{
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 15px;
  background-color: #ffffed;
}

.inpostborder{
  border-width: 1px;
  border-style: solid;
  border-color: gray;
}

.col-md-7{
  text-align: center;
}

.col-md-5{
  margin-left: 0px;
  padding-left: 20px;
}

.sideBar.container{
  background-color: #edf5b8;
  margin-right: 12px;
  padding-left: 20px;
  padding-right: 10px;
}

.timeStamp{
  color: gray;
  font-size: 20%;
}

div.photobox{
  background-color: black;
  width: 100%;

}

img{
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0px;
  border: 3px, black, solid;
}

.modal{
  font-size: 150%;
}

h1.cursive{
  font-family: "Lucida Calligraphy", "Lucida Handwriting", "Apple Chancery", cursive;
  text-align: left;
  padding: 10px;
  font-size: 400%;
}
